*{
    margin:0px;
    padding:0px;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    height: 100%;
}

body{
background: transparent;
    display: flex;
    flex-direction: column;
  transition: all .6s linear;
position: relative;
}

main{
    flex: 1 0 auto;
}
footer{
    padding: 22px 0px;
    flex: 0 0 auto;
    position: relative;
    z-index: 1;
}

.mainImage img {
    max-width: 100%;
}
.mainText .title{
    margin-top:20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 45px;
text-align: center;
color: #444444;
}
.mainText .text{
    margin-top: 20px;
    font-family: 'Helvetica Neue', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #444444;


}
.mainText .btn{
    text-decoration: none;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 22px;
text-align: center;
display: block;
color: #FFFFFF;
background: #34A853;
border-radius: 5.46773px;
margin-top:42px;
width: 100%;
padding:12px 0px;

}
footer {
    padding:100px 0px 22px 0px;
}
footer .copyRight{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 135%;
/* or 16px */

letter-spacing: -0.01em;

color: #000000;

opacity: 0.5;
text-align: center;
}


.bodyHidden{
    position: relative;
    overflow: hidden;

}
.headerFull .image{
    width: 100%;
    padding:20px 0px
}


.animateBackground{
    animation: backTo .3s linear;
    background: url(/images/back.jpg);
    box-shadow: inset 10000px 10000px 10000px 10000px rgba(255, 255, 255, 0);
    background-size: cover;
    height: 100vh;
}
@keyframes backTo{
    0%{
        box-shadow: inset 10000px 10000px 10000px 10000px rgb(255, 255, 255);
    }
    100%{
        box-shadow: inset 10000px 10000px 10000px 10000px rgba(255, 255, 255, 0);
    }

}
.hiddenMain{
    opacity: 0;
    z-index: 2;
}
.newAnim{
   position: static;
    animation:toTop .1s cubic-bezier(.71,-0.17,0,1.01);
    opacity:1;
}

@keyframes toTop {
    0%{
        top:800px;
        position: static;
        opacity: 0;
    }

    80%{
        top:300px;
        position: static;
        opacity: 1;
    }
   90%{
    top:200px;
    position: static;
    }

    100%{
        top:100px;
        position: static;
    }

}
.headImg{
    animation: headMoving 1.1s cubic-bezier(.71,-0.17,0,1.01);
    margin: 0vh auto;
    transform: translateY(-0%);
}
.headOpacity{
    margin: 50vh auto 50vh auto;
    transform: translateY(-50%);
    opacity: 1;
    animation: headOpacity 2s cubic-bezier(.71,-0.17,0,1.01);

}
@keyframes headOpacity{
from{
    opacity: 0;
}
to{
    opacity: 1;
}
}
@keyframes headMoving{
    /* 0%{
        margin: 50vh auto 0;
        transform: translateY(-50%);
        opacity: 0;
    }
    5%{
        margin: 55vh auto 0;
        transform: translateY(-50%);
        opacity: 0;
    }
    10%{
        margin: 50vh auto 50vh auto;
        transform: translateY(-50%);
    }

    20%{      
        margin: 50vh auto 50vh auto;
        transform: translateY(-50%);
    }
    30%{
        margin: 50vh auto 50vh auto;
  transform: translateY(-50%);
  opacity: 1;
    }
    40%{
        margin: 45vh auto 50vh auto;
        transform: translateY(-45%);
    }
    50%{
        margin: 40vh auto 50vh auto;
        transform: translateY(-40%);
    }
    60%{
        margin: 35vh auto 50vh auto;
        transform: translateY(-35%);
    }
    70%{
        margin: 30vh auto 40vh auto;
        transform: translateY(-30%);
    }
    80%{
        margin: 20vh auto 30vh auto;
        transform: translateY(-20%);
    }
    90%{
        margin: 10vh auto 15vh auto;
        transform: translateY(-10%);
    }
    100%{
        margin: 0vh auto;
        transform: translateY(-0%);
    } */
from{
    margin: 50vh auto 50vh auto;
    transform: translateY(-50%);

}
to{
    margin: 0vh auto;
    transform: translateY(-0%);
}
}
.hiddenFlow{
    overflow: hidden;
}